@page "/tasks/{id:guid}"
@using TaskLauncher.Common.Enums
@attribute [Authorize]

<SpinLoader IsLoading="@(isLoading)" Spinner="SpinnerType.Circle">
    <ContentTemplate>
        <h1>@Task.Name</h1>
        <p>@Task.Description</p>

        @if (Task.Start is not null)
        {
            <p>Start: @Task.Start</p>

            @if (Task.End is not null)
            {
                <p>End: @Task.End</p>
            }
        }

        <span>
            Status: @Task.Status &nbsp;
            @if (Task.Status != TaskState.Finished && Task.Status != TaskState.Created)
            {
                 <span>
                     <span class="spinner-border spinner-border-sm mr-1"></span>
                 </span>
            }
        </span>

        <br />

        <button class="btn btn-primary" disabled="@isRunning" @onclick="StartTask">Start</button>
        <button @onclick="DownloadResultFile" disabled="@isRunning" class="btn btn-primary">Download result</button>
        <button @onclick="RemoveTask" disabled="@isRunning" class="btn btn-danger">Remove task</button>

        @if (message != "")
        {
            <p>@message</p>
        }

    </ContentTemplate>
</SpinLoader>

