@page "/users"

<AuthorizeView Roles="admin">
    <Authorized>
        <SpinLoader IsLoading="@(isLoading)" Spinner="SpinnerType.Circle">
            <ContentTemplate>
                @if (users is null || users.Count == 0)
                {
                    <p>No users</p>
                }
                else
                {
                    foreach(var user in users)
                    {
                        <p>Email: @user.Email </p>
                        <p>NickName: @user.NickName </p>
                        <p>Verified email: @user.EmailVerified </p>
                        <p>Last IP: @user.LastIpAddress </p>
                    
                        <a href="@(user.UserId.Remove(0, 6))/tasks">Tasks</a>

                        <br/>
                    }
                }
            </ContentTemplate>
        </SpinLoader>
    </Authorized>
    <NotAuthorized>
        You have to login
    </NotAuthorized>
</AuthorizeView>

