@page "/config"
@using TaskLauncher.Api.Contracts.Requests
@attribute [Authorize(Policy = "admin-policy")]

<div class="container">

    @if (configs is null)
    {
        <p>No configs</p>
    }
    else
    {
        @foreach (var config in configs)
        {
            <div class="row" style="margin: 10px; max-width:400px">
                <RadzenCard>
                    <h4 class="mb-4">@config.Config.Key</h4>
                    <RadzenTextBox Change="@(_ => ValueChanged(config.Config.Key))" value="@config.Config.Value" Class="w-100" />
                    <p>@config.Config.Description</p>
                    @if (config.Config.CanDelete)
                    {
                        <button class="btn btn-danger" @onclick="@(async () => await RemoveConfigAsync(@config.Config.Key))">Save changes</button>
                    }
                </RadzenCard>
            </div>
        }
    }

    <button class="btn btn-primary" style="margin: 10px;" @onclick="SaveChangesAsync">Save changes</button>
</div>
